<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Цитаты</title>
</head>
<body>

<div class="container">
    <h1>Цитаты ninjas</h1>
    <p>{{ quote_ninjas if quote_ninjas else 'НЕ удалось получить цитату'}}</p>
</div>

<div class="container2">
    <h1>Цитаты zenquotes</h1>
    <p>{{ quote_zenquotes if quote_zenquotes else 'НЕ удалось получить цитату'}}</p>
</div>

<div class="container3">
    <h1>Цитаты quoteslate</h1>
    <p>{{ quote_quoteslate if quote_quoteslate else 'НЕ удалось получить цитату'}}</p>
</div>


</body>
</html>